
<html>
</head>
<body>
<h1>Product List</h1>
<p><%= link_to "Discount", "/home?view=discounted" %> | <%= link_to "Show All", "/home" %> | <%= link_to "Lowest to Highest", "/home?view=order_ny_price" %> | <%= link_to "Highest to Lowest", "/home?view=order_by_price_desc" %> | <%= link_to "random", "/home/random" %> </p>
  <div class="row gutter-10">
  <% @products.each do |product| %>

  <ul class="col-xs-12 col-sm-4 col-md-3 col-lg-3 ">
  
    <li class="productSet" >

 
<% if product.images.first %>
<a href="/home/<%= "#{product.id}" %>"><img class="img-responsive" src="<%= product.images.first.image_url %>"></a>
<% end %>

    <h1 class="p_title"><%= link_to product.name, "/home/#{product.id}" %>
</h1>
    
    <div class="p_price"><p>Price:$<%=product.price %></p></div>
    <div class="p_desc"><p><%=product.description %></p></div>
    <div class="p_category"><p><%= product.category %></p></div>

    </li>

  </ul>


  <% end %>
</div>

</body>
<html>