
  <div class="gutter-20">
   <div class="col-centered">
    <h1>Product</h1>
    <h2><%= @product.sale_message %></h2>
    <p>$<%= @product.price %></p>
    <p>$<%= @product.tax %></p>
    <h2>$<%= @product.total %></h2>
    <p>
    <%  @product.images.each do |image| %>

    <div class="p_detail_image"><%= image_tag image.image_url %></div>

    <% end %>
    </p>

    <p><%= @product.name %></p>
    <p><%= @product.price %></p>
    <p><%= @product.description %></p>
    <p>Supplier:<%= @product.supplier.name %></p>
    <p>Created by:<%= @product.user.email %></p>    
    <p>Created On: <%= @product.friendly_created_at %></p>

<!--     Buy now button  -->
<%= form_tag '/orders', { class: 'form-class', id: 'form-id', role: 'form', method: 'post' } do %>
    <%= hidden_field_tag :add_product , @product.id %>
     <%= hidden_field_tag :price , @product.price %>    
    <%= label_tag :add_qty, "Enter Qty" %><%= text_field_tag :add_qty %>
    <a href="#"><button>Buy Now</button></a>
    <br>
    <% end %>
<!--     End of buy now button   -->

    <%= link_to "Edit", "/home/#{@product.id}/edit" %> | <%= link_to "Delete", "/home/#{@product.id}", method: :delete %>
    </div> 
   </div> 

<!--
< product.ingeredient_list.each do |ingeredient| >
  <li><  ingeredient ></li> 
 end
